<div class="container">
<h1>Please create a new task</h1>
<div class="form">

<%= form_for(Task.new) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>

</div>

<p><%= link_to "Back to the list", "/tasks" %></p>
</div>
